<section>
    <!-- navbar starts here -->
    <div class="nav bg-black">
        <div class="container my-3 d-flex justify-content-between mx-auto">
            <div>
                <p class="text-danger px-3 py-2 h2">Enfin Technologies</p>
            </div>
                <div>
                    <button class="btn btn-danger px-3 py-2" (click)="routetoLogin()">Login</button>
                </div>
            </div>
        </div>
        </section>
        <!-- navbar ends here -->

    <!-- signup form starts here -->
    <section class="signupSection">
    <div class="signupform">
        <div>
            <h2 class="text-center mb-5">SignUp Here</h2>
        </div>
        <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-group">
                <label for="uname">Name</label>
                <input type="text" class="form-control-lg" formControlName = "uname">
            </div>
            <br>

            <div class="form-group">
                <label for="uemail">Email</label>
                <input type="email" class="form-control-lg" formControlName = "uemail">
            </div>
            <br>
            
            <div class="form-group">
            <label for="upassword">Password</label>
            <input type="password" class="form-control-lg" formControlName = "upassword">
            </div>
            <br>

            <div>
            <button type="submit" class="btn btn-primary px-3 py-2">Submit</button>
            </div>
    </form>
</div>
<!-- signup form ends her -->
</section>